.video__inner {
	display: flex;
	width: 100%;
	height: auto;
	// max-width: 1880px;
	padding-top: 90px;
	padding-left: 80px;
	// padding-right: 20px;
}

@media only screen and (max-width: 1200px) {
	.video__inner {
		padding-left: 0;
	}
}

@media only screen and (max-width: 1000px) {
	.video__inner {
		flex-direction: column;
        // max-width: 1000px;
        align-items: center;
	}
}

@media only screen and (max-width: 850px){
	.video__inner{
		padding-left: 0;
	}
}