.login {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
    max-width: 450px;
	display: flex;
    flex-direction: column;
	justify-content: center;
    margin: 0 auto;
	padding: 0 20px;

   
	
	&__headding {
		margin-bottom: 36px;
		padding: 0;
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 42px;
		line-height: 49px;
		color: #000000;
		
	}
	
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		font-size: 18px;
		line-height: 24px;
		color: #1da1f2;
	}
}
