.header {
	position: fixed;
	z-index: 97;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	&__logo {
		object-fit: cover;
		vertical-align: middle;
		margin-left: 28px;
	}
	&__list {
		width: 100%;
		max-width: 175px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
        margin: 0;
        // padding: 0;
		margin-left: auto;
		margin-right: 45px;
	}
}

@media only screen and (max-width: 860px){
	.header__list{
	  display: none;
	}
}
